.strength{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #18171E;
    margin: 0  auto;
    padding: 1rem;
    margin-top: 1rem;
    &__text{
        color: rgba(255, 255, 255, 0.76);
        font-family: monospace, 'sans-serif';
        font-size: clamp(1.5rem,1vw, 3rem); 
        width: 50%;
    }
    &__nivel{
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        &__container{
            font-family: monospace, 'sans-serif';
            font-size: clamp(1rem,1vw, 2rem); 
        }
        &__progress{
            display: flex;
            gap: 0.5rem;
            &__container{
                height: 1rem;
                border: 1px solid #fff;
            }
        }
    }
    @media (max-width:30rem){
        &__text{
            width:fit-content;
        }
        &__nivel{
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 65%;
            &__container{
                font-family: monospace, 'sans-serif';
                font-size: clamp(1rem,2vw, 2rem); 
            }
        }
    }
}