.showPassword{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 30rem;
    background-color: #24232A;
    
    &__content{
        border: none;
        outline: none ;
        background-color: #24232A;
        letter-spacing: 0.1rem;
        font-family: monospace, 'sans-serif';
        font-size: clamp(1.5rem,1vw, 2rem);
        color: lightgreen;
    }
    &__copy{
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        background-color: #24232A;
        color: lightgreen;
        font-size: clamp(1.5rem,1vw, 3rem); 
    }
   
}