.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    &__title{
        text-align: center;
        color: lightgray;
        font-family: monospace, 'sans-serif';
        font-size: clamp(2rem,1vw, 3rem); 
    }
    &__box{
        display: flex;
        flex-direction: column;
        width: 30rem;
        background-color: #24232A;
        margin-top: 1rem;
        padding: 1rem;
    }
}